* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  text-align: center;
  font-family: monospace;
  background-color: var(--bgColor);
  color: var(--textColor);
  font-size: 1.25rem;
}

header {
  padding: 5px;
  min-height: 80px;
  height: 15%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 85%;
}

header h1 {
  font-size: 3rem;
}

.grid {
  z-index: -1;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: calc(
    var(--boardWidth) * var(--tileSize) +
      (var(--tileMargin) * 2 * var(--boardWidth))
  );
  height: calc(
    var(--boardHeight) * var(--tileSize) +
      (var(--tileMargin) * 2 * var(--boardHeight))
  );
}

.grid div {
  width: var(--tileSize);
  height: var(--tileSize);
  margin: var(--tileMargin);
  background-color: var(--tileColor);
}

.grid div.staging {
  background-color: var(--bgColor);
}

.grid div.filled {
  background-color: var(--filledColor);
}

.grid div.trail {
  background-color: var(--bgColor);
}

.grid div.flash {
  background-color: var(--textColor);
}

button {
  background-color: var(--bgColor);
  border: 0;
  width: var(--btnSize);
  height: var(--btnSize);
  margin: var(--btnMargin);
}

.controls {
  bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrows {
  display: flex;
}

.arrows button {
  background: url('arrow-button.png') no-repeat right top;
  background-size: var(--btnSize);
}

#left-btn {
  transform: rotate(-90deg);
}

#right-btn {
  transform: rotate(90deg);
}

#down-btn {
  transform: rotate(180deg);
}

#main-btn {
  background: url('empty-button.png') no-repeat right top;
  background-size: var(--btnSize);
}

:root {
  --btnSize: 50px;
  --btnMargin: 5px;
  --tileMargin: 2px;
  --tileSize: 25px;
  --boardWidth: 10;
  --boardHeight: 20;
  --bgColor: rgb(250, 68, 61);
  --textColor: rgb(233, 233, 233);
  --tileColor: rgba(255, 255, 255, 0.164);
  --filledColor: rgb(224, 197, 75);
}

@media only screen and (max-width: 700px) {
  header h1 {
    font-size: 2rem;
  }

  header p {
    font-size: 1rem;
  }

  :root {
    --tileMargin: 1px;
    --tileSize: 15px;
  }
}
